html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

button { /* Changed class to button */
    position: fixed;
    bottom: 10px;
    right: 10px;
    float: left;
    list-style: none;
    padding: 7px 13px 7px 13px;
    border: 1px solid #E4E4E4;
    border-radius: 3px;
    background: #F2F2F2;
    font-weight: bold;
    margin: 0 10px;
    color: #444444;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer; /* Made the default cursor, be a pointer */
}
button:focus { /* Remove blue border from css custom-styled button */
   outline:0; 
}

button:hover{
    background: linear-gradient(#F3F3F3,#F6F6F6,#F3F3F3);
    border: 1px solid #DDDDDD;
    border-bottom-width: 2px;
    outline-width: thin;
    cursor: pointer; /* Changed cursor from default to pointer. Looks more fancy :P; */
    color: #222222;
}

.newDiv:active{
    background: linear-gradient(#F6F6F6,#F9F9F9,#F6F6F6);
    border: 1px solid #CECECE;
}

.test {
    height: 20%; /*Streched from 21 to 20% to fill up more then 3 boxes on the page.*/
    width: 20%;
    margin: 2%;
    float: left;
    border: 1px solid #ccc; /*Added border to see wich boxes are created (for boxes with white background).*/
}